{% extends "layout.html" %}
{% block body %}
    <!--SECTION START-->
    <section>
        <div class="container com-sp pad-bot-70">
            <div class="row">
                <div class="cor about-sp">
                    <div class="ed-about-tit">
                        <div class="con-title">
                            <h2>About <span> us</span></h2>
                
                        </div>
                    </div>
                    <div class="ed-about-sec1">
                        <div class="ed-advan">
                            <ul>
                                <li>
                                    <div class="ed-ad-img">
                                        
                                    </div>
                                    <div class="ed-ad-dec">
                                    <h4>DISTINCT FEATURES OF TEC :</h4>
                                    <ul class="list-group">
                                    <p>Rich library with access to journals.</p>
                                    <p>Career advising, guidance and job placements</p>
                                    <p>Teachers and students friendly peaceful learning environment.</p>
                                    <p>Special learning system for humanitarian development and abroad expose learning is mandatory.</p>
                                    <p>Home and abroad job linkage</p>
                                    <p>Class rooms equipped with standard furniture’s, fixtures, equipments, 24 hours Electricity & water supply, Multi-media facilities.</p>
                                    <p>Cultural activities and sports event are organized in regular manner by the participation of the student for their human quality, mental & physical development.</p>
                                    <p>Hostel for male and female students.</p>
                                    <p>Unique English language program for all students.</p>
                                    <p>Regular co-curricular program, cultural events & intellectual exploration.</p>
                                    <pAccess to TMSS facilities and programs all over Bangladesh.</p>
                                    <p>Good communication and transportation facilities for students.</p>
                                    <p>Organic products using catering in the canteen.</p>
                                    <p>Secured & Wi-Fi campu</p>
                                    <p>Practical scope for education available.</p>
                                    <p>Political and session jam free college.</p>



                                    </div>
                                </li>
                                <li>
                                    <div class="ed-ad-img">
                                        <img src="images/adv/2.png" alt="">
                                    </div>
                                    <div class="ed-ad-dec">
                                        <h4>Mission:</h4>
                                        <p>TMSS Engineering College has a transformative impact on national and inter-national development in Engineering. To provides its best efforts to develop human resources in the field of Engineering, to meet the ever changing needs of the country and of the world by adopting specified academic curriculums and applying modern, scientific teaching and learning methods by implementing proper educational environment.</p>                                      
                                    </div>
                                </li>
                                <li>
                                    <div class="ed-ad-img">
                                        <img src="images/adv/3.png" alt="">
                                    </div>
                                    <div class="ed-ad-dec">
                                        <h4>Vision: </h4>
                                        <p>Our vision is to develop TEC with various offshoots and make it a world-class institution on Bangladeshi platform & will gain national and global recognition. Graduate students of TEC are contributing their acquired technical knowledge & skill effectively in the National and Global development.</p>
                                      
                                    </div>
                                </li>
                                <li>
                                    <div class="ed-ad-img">
                                        <img src="images/adv/4.png" alt="">
                                    </div>
                                    <div class="ed-ad-dec">
                                        <h4>OBJECTIVE</h4>
                                        <p>With the increase of economic growth of the world the demand of skilled manpower is also increasing rapidly. Although there is a wide expansion of traditional system of education in our country, it can not face digital challenge of the 21st century. As a result demand for technical education is increasing day by day. So to provide excellent broad- based technical education to the students TMSS Engineering College committed to provide best quality learning experiences with comprehensive knowledge and skill based education necessary for the country and emphasis on their professional development in the field of Engineering.</p>
                                     
                                    </div>
                                </li>
                                <li>
                                   
                                </li>
                                <li>
                                   
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="ed-about-sec1">
                        <div class="col-md-6"></div>
                        <div class="col-md-6"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECTION END-->


    <!--SECTION START-->
    {% endblock %}
