{% extends "layout.html" %}
{% block body %}
<!--END HEADER SECTION-->

<!--SECTION START-->
<section>
    <div class="container com-sp">
        <div class="row">
            <div class="cor about-sp">
                <div class="ed-about-tit">
                    <div class="con-title">
                    </div>
                    <div>
                        <div class="ho-event pg-eve-main pg-blog">
                            <ul>
                                <h1><big<span>ACADEMIC COMMITTEE</span></h1>
                                <br>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">Sl. No</th>
                                        <th scope="col">Member Name</th>
                                        <th scope="col">Department</th>
                                        <th scope="col">Designation</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <th scope="col">Professor Md. Habibor Rahman</th>
                                        <th scope="col">Principal (TEC)</th>
                                        <th scope="col">President</th>

                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <th scope="col">Md. Washiqul Islam</th>
                                        <th scope="col">Vice-Principal (TEC)</th>
                                        <th scope="col">Member</th>

                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <th scope="col">Md. Abdur Rahim Munshi</th>
                                        <th scope="col">Registrar (TEC)</th>
                                        <th scope="col">Member</th>

                                    </tr>
                                    <tr>
                                        <th scope="row">4</th>
                                        <th scope="col">Rakesh Swarup Mandal</th>
                                        <th scope="col">Asst. Professor
                                            Department Head (EEE)</th>
                                        <th scope="col">Member</th>

                                    </tr>
                                    <tr>
                                        <th scope="row">5</th>
                                        <th scope="col">Md. Shamim Akter</th>
                                        <th scope="col">Lecturer (NSH)</th>
                                        <th scope="col">Member</th>

                                    </tr>
                                    <tr>
                                        <th scope="row">6</th>
                                        <th scope="col">Md. Abu Raihan</th>
                                        <th scope="col">Lecturer (TEX)</th>
                                        <th scope="col">Member</th>

                                    </tr>
                                    <tr>
                                        <th scope="row">7</th>
                                        <th scope="col">Engr. Md. Golam Mostofa</th>
                                        <th scope="col">Registrar (TEC)</th>
                                        <th scope="col">Course
                                            Co-ordinator</th>

                                    </tr>
                                    </tbody>
                                </table>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--SECTION END-->

{% endblock %}
