
{% extends "layout.html" %}
{% block body %}
    <section class="pop-cour">
        <div class="container com-sp pad-bot-70">
            <div class="row">
                <div class="con-title">
                    <h2>All <span>Courses</span></h2>
                 
               </div>
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <!--POPULAR COURSES-->
                        <div class="home-top-cour">
                            <!--POPULAR COURSES IMAGE-->
                            <div class="col-md-3"> <img src="{{ url_for('static', filename='images/course/sm-1.jpg')}}" alt=""> </div>
                            <!--POPULAR COURSES: CONTENT-->
                            <div class="col-md-9 home-top-cour-desc">
                                <a href="/eee">
                                    <h3>Electrical and Electronics Engineering</h3>
                                </a>
                               
                                <div class="hom-list-share">
                                    <ul>
                                        <li><a href="/eee"><i class="fa fa-bar-chart" aria-hidden="true"></i> Book Now</a> </li>
                                   
                                     
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--POPULAR COURSES-->
                        <div class="home-top-cour">
                            <!--POPULAR COURSES IMAGE-->
                            <div class="col-md-3"> <img src="{{ url_for('static', filename='images/course/sm-2.jpg')}}" alt=""> </div>
                            <!--POPULAR COURSES: CONTENT-->
                            <div class="col-md-9 home-top-cour-desc">
                                <a href="/civil">
                                    <h3>Civil Engineering</h3>
                                </a>
                               
                                <div class="hom-list-share">
                                    <ul>
                                        <li><a href="/civil"><i class="fa fa-bar-chart" aria-hidden="true"></i> INFO</a> </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--POPULAR COURSES-->
                        <div class="home-top-cour">
                            <!--POPULAR COURSES IMAGE-->
                            <div class="col-md-3"> <img src="{{ url_for('static', filename='images/course/sm-3.jpg') }}" alt=""> </div>
                            <!--POPULAR COURSES: CONTENT-->
                            <div class="col-md-9 home-top-cour-desc">
                                <a href="/textile">
                                    <h3>Textile Engineering</h3>
                                </a>
                               
                               
                                <div class="hom-list-share">
                                    <ul>
                                        <li><a href="/textile"><i class="fa fa-bar-chart" aria-hidden="true"></i> INFO</a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--POPULAR COURSES-->
                        <div class="home-top-cour">
                            <!--POPULAR COURSES IMAGE-->
                            <div class="col-md-3"> <img src="images/course/sm-4.jpg" alt=""> </div>
                            <!--POPULAR COURSES: CONTENT-->
                            <div class="col-md-9 home-top-cour-desc">
                                <a href="course-details.html">
                                    <h3></h3>
                                </a>
                                <h4></h4>
                               
                                <div class="hom-list-share">
                                    <ul>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <!--POPULAR COURSES-->
                        <div class="home-top-cour">
                            <!--POPULAR COURSES IMAGE-->
                            <div class="col-md-3"> <img src="{{ url_for('static', filename='images/course/sm-5.jpg') }}" alt=""> </div>
                            <!--POPULAR COURSES: CONTENT-->
                            <div class="col-md-9 home-top-cour-desc">
                                <a href="/cse">
                                    <h3>Computer Science and Engineering</h3>
                                </a>

                              
                                <div class="hom-list-share">
                                    <ul>
                                        <li><a href="/cse"><i class="fa fa-bar-chart" aria-hidden="true"></i> INFO</a> </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--POPULAR COURSES-->
                        <div class="home-top-cour">
                            <!--POPULAR COURSES IMAGE-->
                            <div class="col-md-3"> <img src="{{ url_for('static', filename='images/course/sm-6.jpg') }}" alt=""> </div>
                            <!--POPULAR COURSES: CONTENT-->
                            <div class="col-md-9 home-top-cour-desc">
                                <a href="/ice">
                                    <h3>Information and Communication Engineering</h3>
                                </a>

                               
                                <div class="hom-list-share">
                                    <ul>
                                        <li><a href="/ice"><i class="fa fa-bar-chart" aria-hidden="true"></i> INFO</a> </li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                      
    </section>
{% endblock %}