
{% extends "layout.html" %}
{% block body %}
	<section>
        <div class="head-2">
            <div class="container">
                <div class="head-2-inn head-2-inn-padd-top">
                    <h1>Civil Engineering</h1>

                </div>
            </div>
        </div>
    </section>

    <!--SECTION START-->
    <section>
        <div class="container com-sp">
            <div class="row">
                <div class="cor about-sp">
                    <div class="ed-about-tit">
                        <div>
                            <div class="ho-event pg-eve-main pg-blog">
                                <ul>
									 <li>


                                        <div class="pg-eve-desc pg-blog-desc">
                                            <a href="event-register.html">

                                            </a>
											<div class="share-btn blog-share-btn">
												<ul>
													<li><a href="#"><i class="fa fa-facebook fb1"></i> Share On Facebook</a>
													</li>
													<li><a href="#"><i class="fa fa-twitter tw1"></i> Share On Twitter</a>
													</li>
													<li><a href="#"><i class="fa fa-google-plus gp1"></i> Share On Google Plus</a>
													</li>
												</ul>
											</div>
									<img src="{{ url_for('static', filename='images/course/civil.jpg')}}" alt="">
                                            <center><h1>Department Of Civil Engineering (CE):</h1></center>


                                            <p><h5>Civil engineering is a professional engineering discipline that deals with the design, construction, and maintenance of the physical and naturally built environment, including public works such as roads, bridges, canals, dams, airports, sewerage systems, pipelines, structural components of buildings, and railways. Civil Engineering is the second-oldest engineering discipline.</h5></p>
<br>
                                            <center><h1>Mission And Vision Of The Department Of Civil Engineering:</h1></center>
                                            <p><h5>To produce engineers having professional and leadership qualities with capacity to take up professional and research assignments in Civil Engineering and allied fields with focus on inter-disciplinary and innovative approach and to compete at the global level.</h5></p>
                                        <ul>
                                            <li>&#10004To impart quality and real time education to contribute to the field of Civil Engineering.</li>
                                            <li>&#10004To impart soft skills, leadership qualities and professional ethics among the graduates to handle projects independently.</li>
                                            <li>&#10004To develop graduates to compete at the global level.</li>
                                            <li>&#10004To deal with the contemporary issues and to cater to the societal needs.</li>
                                        </ul>
                                            <center><h1>Methods Of Instructions And Learning Environment:</h1></center>
                                            <h5>This shall comprise the following:</h5>
                                            <ul>
                                                <li>&#10004Class rooms with lectures, demonstrations and relevant handouts;</li>
                                                <li>&#10004Giving useful assignments related to the subjects requiring use of reference material and internet facility;</li>
                                                <li>&#10004Term projects and often class presentation;</li>
                                                <li>&#10004Laboratory experiments, field work and visit, industrial visit and design exercises;</li>
                                                <li>&#10004Extension lectures and class room discussions by renowned professionals;</li>
                                                <li>&#10004The note books/field work/graphs and drawing sheets pertaining to the field work and practical should be completed within a time period and submitted with this specific time to the teacher. In case of field visit the students shall be required to write a visit report which shall be graded later by the teacher.</li>

                                            </ul>
                                      <center><h1>Expected Outcomes</h1></center>
                                            <p>The graduates from the Civil Engineering Program will demonstrate that they have:
                                                <br>
                                                <br>
                                                &#10004The ability to identify, formulate, and solve complex engineering problems by applying principles of engineering, science, and mathematics.<br><br>
                                                &#10004 The ability to apply engineering design to produce solutions that meet specified needs with consideration of public health, safety, and welfare, as well as global, cultural, social, environmental, and economic factors.<br><br>
                                                &#10004 The ability to communicate effectively with a range of audiences.
                                                &#10004 The ability to recognize ethical and professional responsibilities in engineering situations and make informed judgments, which must consider the impact of engineering solutions in global, economic, environmental, and societal contexts.<br><br>
                                                &#10004 The ability to function effectively on a team whose members together provide leadership, create a collaborative and inclusive environment, establish goals, plan tasks, and meet objectives.<br><br>
                                                &#10004 The ability to develop and conduct appropriate experimentation, analyze and interpret data, and use engineering judgment to draw conclusions.<br><br>
                                                &#10004  The ability to acquire and apply new knowledge as needed, using appropriate learning strategies.<br><br>
                                                &#10004  The courses designed for B.Sc. in Civil Engineering consist of 4000 marks of 160 credits distributed over eight semesters in four academic years. Each academic year is divided into two semesters (odd & even) each of duration not less than 11 weeks (66 working days). There shall be final examinations at the end of each semester. The medium of answer in all examinations will be either Bangla or English, but not the mixer of both. The theoretical examination of courses less than or equal to 2 credits shall be of 2 hours duration and courses greater than 2 credits shall be of 3 hours duration. An academic schedule for an academic year shall be announced for general notification before the start of the academic year, on the prior approval of the academic committee.</p><br><br>
                                       </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECTION END-->
{% endblock %}