{% extends "layout.html" %}
{% block body %}
<!--END HEADER SECTION-->

<!--SECTION START-->
<section>
    <div class="container com-sp">
        <div class="row">
            <div class="cor about-sp">
                <div class="ed-about-tit">
                    <div class="con-title">
                    </div>
                    <div>
                        <div class="ho-event pg-eve-main pg-blog">
                            <ul>
                                <li>
                                    <img src="{{ url_for('static', filename='') }}" style="width:100px;height:100px;" alt="">

                                    <div class="pg-eve-desc pg-blog-desc">

                                            <p><h5><i>I am proud to have become more involved and engrossed at this time as a Director of TMSS Engineering College (TEC). I am privileged enough to be at the helm of what is considered as one of the foremost affiliated college under University of Rajshahi, Bangladesh .
                                        <br>
                                            TMSS Engineering College is committed to academic excellence in our infrastructure, relevant programs in our curriculum and caring personal attention to our students. One of our great strengths is the enthusiastic administrator faculty and staff in creating a sense of community. We are ready to build up our students at the level of international standard. We are determined to make our college as a model institution in the field of Engineering in Bangladesh.
                                        <br>
                                            As we look to the future one thing is certain – knowledge will be a key resource and will be highly sought-after within Bangladesh and around the world. Our challenges are to help to generate ideas that will benefit society, and to educate and train people to work in fields where they will be valued for both their specialized knowledge and for their ability to research, communicate and solve problems.
                                        <br>
                                            TMSS Engineering College is committed to prepare its students as able professionals – creative, committed, liberal and alive to their environment and capable of contributing to the country’s advancements as well as achieve their goals in a rapidly changing economic and civic environment by enhancing the field of engineering.
                                        <br>
                                            Our students expect a relevant, contemporary learning experience that will prepare them for life and careers in a rapidly changing world. Our governments and our citizens expect excellence and a clear return on their investment to us. The strength of our reputation will not only benefit future students but also the boundless global community that will gain from TMSS’s knowledge and leadership. Our students are emerging leaders who will shape tomorrow’s world and create change. With a range of scholarships and support for students to pursue international, academic and engagement opportunities, TMSS Engineering College welcomes students with the academic ability and aspirations to gain an outstanding engineering education.
                                        <br>
                                            It is deemed as the seat of learning in the arena of Engineering and Technology across the country. Both HSC and Diploma students can avail to enroll here to be graduates.</i></h5></p>
                                            <p> <h5><i>We look forward to having you join the TMSS</i></h5></p>
                                            <p><h5><i>Engineering College premises for higher education in the</i></h5></p>
                                            <p> <h5><i>field of Engineering</i></h5></p>
                                            <p><h5><big>Md. Zakir Hossain</big></h5></p>
                                            <p><h5><big>Director (Program)</big></h5></p>
                                            <p><h5> <big>TMSS</big></h5></p>


                                    </div>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--SECTION END-->

{% endblock %}
