
{% extends "layout.html" %}
{% block body %}
	<section>
        <div class="head-2">
            <div class="container">
                <div class="head-2-inn head-2-inn-padd-top">
                    <h1>Department of Computer Science and Engineering</h1>

                </div>
            </div>
        </div>
    </section>

    <!--SECTION START-->
    <section>
        <div class="container com-sp">
            <div class="row">
                <div class="cor about-sp">
                    <div class="ed-about-tit">
                        <div>
                            <div class="ho-event pg-eve-main pg-blog">
                                <ul>
									 <li>

                                        <div class="pg-eve-desc pg-blog-desc">
                                            <a href="event-register.html">
                                                <h1>Department Of Computer Science And Engineering</h1>
                                            </a>
											<div class="share-btn blog-share-btn">
												<ul>
													<li><a href="#"><i class="fa fa-facebook fb1"></i> Share On Facebook</a>
													</li>
													<li><a href="#"><i class="fa fa-twitter tw1"></i> Share On Twitter</a>
													</li>
													<li><a href="#"><i class="fa fa-google-plus gp1"></i> Share On Google Plus</a>
													</li>
												</ul>
											</div>
											 <img src="{{ url_for('static', filename='images/course/cse.jpg') }}" alt="">
                                            <p><b>The Department of Computer Science and Engineering, TMSS Engineering College (TEC), Bogura affiliated by the university of Rajshahi(RU); offers a program of Four (4) years of Bachelor of Science of Engineering degree.

The curriculum offered by the Department of Computer Science and Engineering has been designed in accordance with “Engineering Faculty”, University of Rajshahi holding total 160 credits of courses according to the Academic Ordinance of University of  Rajshahi.

Today’s world is highly dependent on Information and Technology (IT) and Information and Communication Technology (ICT), which is also currently the fastest growing industrial sector. The aim of this Bachelor’s program is to meet world’s enormous demands for IT and ICT solutions and prepare a new generation of highly skilled specialists in this field. The rapid developments in this area, combined with an ever-increasing range of applications, create many exciting opportunities for students to utilize the knowledge gained in the program for either an international career or higher education.

The Department of Computer Science and Engineering is the most prestigious department in this college. This department is committed to serving students who have set a goal of obtaining a degree in Computer Science and Engineering. The faculty members and students of this department are the keys to meet the current challenges of Information and Technology (IT) and Information and Communications Technology (ICT).

The teachers are greatly emphasized upon using technology to their advantage. The laboratories are designed to expose and train our students with the fundamental of computer’s hardware, software, networking and communication, digital electronics and other related subjects that are the requirements of computer graduates. To keep pace with fast-changing technology of the world, the faculty members of this department constantly update their methods of teaching.</b></p>
<h1>Program Duration:</h1>
<p>&#10004AB.Sc. Engineering (4 years, 8 semesters)</p>
<p>&#10004A2 semesters per year</p>
<p>&#10004AStudent intake: 30</p>
<p>&#10004ACouse credit: 160</p>
<h1>Laboratories:</h1>
<p>&#10004AComputer Programming Lab</p>
<p>&#10004ADigital Electronics Lab</p>
<p>&#10004Software Development Lab</p>
<p>&#10004Database Management System Lab</p>
<p>&#10004Communication Lab</p>
<h1>Co-curriculum activities:</h1>
<p>&#10004A<b>Programming Contest </b>will be organized intra and inter college programming contest at TEC </p>
<p>&#10004<b>Project Showing Contest</b> will be organized intra and inter college project showing contest at TEC</p>
<p><h3>&#10004Cultural Programs:</h3></p>
<p>&#1000421st February: The International Mother Language Day, 21st February is the most important day in Bangladesh as well as in the world as we are the only one nation who sacrificed their lives for mother tongue when the Pakistani forcefully impose Urdu as our mother tongue. So to spread out the history among the new generations we, TEC organizes different programs on 21st February and remember those martyrs with due respect who lied their lives so that we can speak, write, read in Bengali.</p>
<p>&#1000426th March: The Independence Day, 26th March is the day when we, Bengali started war against Pakistan. After the declaration of war the people of Bangladesh came out with what they had, to fight for the country and to become independent, sovereign nation. We celebrate this day with different programs at TEC.</p>
<p>&#10004Pohela Boishakh: The Bengali New Year 14th April is the most colorful festive in this country. The people of Bangladesh are busy to welcome the New Year with great joy. TCE is not left behind, we celebrate the day with lots of color, joy, cultural functions; having “Panta Ilish”.</p>
<p>&#1000416th December: The Victory Day, 26th December  and other national days.</p>
<p>&#10004CSE Day: 20thSeptember</p>
<p>&#10004Sports:</p>
<p>&#10004Cricket:Inter-college Cricket Tournament(TEC vs TTEI)</p>
<p>&#10004Football: Inter-college Football Tournament (TEC vs TTEI)</p>
<p>&#10004Volleyball:Inter-college Volleyball Tournament (TEC vs TTEI)</p>
<p>&#10004Chess:Inter-college Chess Tournament (TEC vs TTEI)</p>
<p>&#10004Badminton:Inter-college Badminton Tournament (TEC vs TTEI)</p>
<h1>Program Details:</h1>
<p>As the program is expanded to 4 years, 8 semesters (2semester per year); each semester consists of a number of courses, usually 8 to 10. Each course includes: Lecture, Laboratory work, Project submission, Assignments, Presentation, Individual studies.

As hands-on experience is regarded which is an important elements of learning; laboratory sessions constitute an essential part of studies at TEC. Therefore, we design the contact hours double to the credits for laboratory session.

Throughout the program, courses of each semester are determined by written and laboratory work.

A defense project or thesis proposal has to be completed by the student in the combined duration of two semester of PART-IV, which has to be submitted at the end of the semester on a board viva-voce that will be conducted by the examination committee.

We do believe, after graduation students can proceed to a working career or continue to study at Master’s program at Rajshahi University, BUET etc. and anywhere around the world.</p>
<h1>Course Outlines:</h1>
<p>The program is designed in accordance with “Engineering Faculty”, University of Rajshahi according to the Academic Ordinance.</p>
<!--Table-->
<table class="table table-striped w-auto">

  <!--Table head-->
  <thead>
    <tr>
      <th>#</th>
      <th>Course Type</th>
      <th>Marks</th>
      <th>% of Marks</th>
      <th>Credits</th>

    </tr>
  </thead>
  <!--Table head-->

  <!--Table body-->
  <tbody>
    <tr class="table-info">
      <th scope="row">1</th>
      <td>Mathematics and Basic Science</td>
      <td>600 – 900</td>
      <td>15 – 22.5</td>
      <td>24 – 36</td>

    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Humanities</td>
      <td>100 – 300</td>
      <td>2.5 – 7.5</td>
      <td>4 – 12</td>
    </tr>
    <tr class="table-info">
      <th scope="row">3</th>
      <td>Basic and Major Engineering</td>
      <td>2800 – 3200</td>
      <td>70 – 80</td>
      <td>112 – 128</td>

    </tr>
    <tr>
      <th scope="row">4</th>
      <td>a.Basic Engineering with Lab</td>
      <td>100 – 300</td>
      <td>2.5 – 7.5</td>
      <td>4 – 12</td>
    </tr>
    <tr class="table-info">
      <th scope="row">5</th>
      <td>b.Major Engineering</td>
      <td></td>
      <td></td>
      <td></td>

    </tr>
    <tr>
      <th scope="row">6</th>
      <td>i.Theoretical</td>
      <td>1500 – 2400</td>
      <td>37.5 – 60</td>
      <td>60 – 96</td>
    </tr>
    <tr class="table-info">
      <th scope="row">7</th>
      <td>ii. Laboratories</td>
      <td>700 – 1200</td>
      <td>17.5 – 30</td>
      <td>28 – 48</td>

    </tr>
    <tr>
      <th scope="row">8</th>
      <td>iii. Board viva-voce</td>
      <td>50 – 200</td>
      <td>1.25 – 5</td>
      <td>2 – 8</td>
    </tr>
    <tr class="table-info">
      <th scope="row">9</th>
      <td><b>Total</b></td>
      <td><b>4000</b></td>
      <td><b>100.00</b></td>
      <td><b>160</b></td>

    </tr>
  </tbody>
  <!--Table body-->


</table>
<!--Table-->
<h1>Career In Area Of Computer Science And Engineering:</h1>
<p>Computers are used in almost every aspect of life: automobile engines, microwave ovens, video games, watches, telephones, laptop computers, medical diagnostic equipment, commercial aircraft, and orbital satellites that deliver cable signals around the world. Computers have become tools that perform the immediate, but that’s not even quick enough. So, while the computer field is one of the fastest growing segments of industry today, it is also one of the fastest changing areas technologically.

Graduates with degrees in computer science or computer engineering might find themselves in a variety of environments – academia, research, industry, government, and private or not-for-profit organizations. On a daily basis, computer professionals are called on to analyze challenges, formulate and test solutions, use advanced communications or multimedia equipment, or work in teams for product development. The opportunities are enormous. However, an education in computer science and engineering does not stop with a college degree. It continues on the job or in the graduate school environment through seminars, conferences, advanced courses, and training.

New ideas are developed every day. Success will require an ongoing commitment to maintaining up-to-date knowledge as well as a dedication to push beyond the comfortable, to explore, innovate, and create. Here’s a partial list of career opportunities for computer science and engineering graduates:</p>

<p>&#10004Artificial Intelligence</p>
<p>The development of computers that simulate human learning and reasoning ability.</p>
<p>&#10004Computer Design and Engineering</p>
<p></p>
<p>&#10004</p>
<p>The design and manufacture of new computer circuits, microchips, and other key electronic components</p>
<p>&#10004Computer Architecture</p>
<p>The design of new computer instruction sets, working to combine optical or electronic components to create faster, more cost-effective computing environments.</p>
<p>&#10004Information Technology</p>
<p>The development and/or management of information systems that support industry, which can involve hardware, software, algorithms, databases, and man-machine interfaces</p>
<p>&#10004Software engineering</p>
<p>The creation of methods for the production of software systems quicker and more efficiently.</p>
<p>&#10004Computer Theory</p>
<p>The study of fundamental theories of how computers solve problems and eventual application of those findings to other areas of computer science and engineering.</p>
<p>&#10004Operating Systems and Networks</p>
<p>The development and implementation of the basic software computers use to supervise themselves or communicate with other computers in a network.</p>
<p>&#10004Software Applications</p>
<p>The application of computer science and engineering technology to solve problems outside the field of computer science – for example, medical or educational applications.</p>
<p>&#10004They can also work as:</p>
<p>&#9744Software Developer</p>
<p>&#9744Software Test Engineer (STE)</p>
<p>&#9744 Senior Software Engineer</p>
<p>&#9744Software Development Manager</p>
<p>&#9744Software Architect</p>
<p>&#9744Programmer Analyst</p>
<p>&#9744Systems Developer</p>
<p>&#9744Web Developer</p>
<p>&#9744Software Development Engineer, Test (SDET</p>
<p>&#9744Application Support Analyst</p>
<p>&#9744 Computer Systems Analyst</p>
<p>&#9744Database Administrator (DBA)</p>
<p>&#9744Systems Administrator</p>
<p>&#9744Systems Engineer (IT)</p>
<p>&#9744 Systems Analyst</p>
<p>&#9744Network Administrator</p>
<p>&#9744 Network Engineer</p>
<p>&#9744Business Analyst</p>
<p>&#9744Program Manager</p>
<p>&#9744Information Technology Specialist</p>
<h3>Course Outcome:</h3>

<p>PROGRAM LEARNING OUTCOME (PLO): The learning outcome of the computer science and engineering program</p>
<br>
<p>01. Knowledge: Ability to select and apply the knowledge, techniques, skills, and modern tools of the computer science and engineering discipline</p>
<p>02.Requirement Analysis: Ability to identify, analyzes, and solves a problem by defining the computing requirements of the problem through effectively gathering of the actual requirements;</p>
<p>03.Problem Analysis: Ability to select and apply the knowledge of mathematics, science, engineering, and technology to computing problems that require the application of principles and applied procedures or methodologies;</p>
<p>04.Design: Ability to design computer based systems, components, or processes to meet the desire requirement;</p>
<p>05.Problem Solving: Ability to apply mathematical foundations, simulation, algorithmic principles, and computer science theory in the modeling and design of computer-based systems in a way that demonstrates comprehension of the tradeoffs involved in design choices.</p>
<p>06.Implementation: Ability to apply design and development principles in the construction of software systems of varying complexity.</p>
<p>07.Experiment and Analysis: Ability to conduct standard tests and measurements; to conduct, analyze, and interpret experiments; and to apply experimental results to improve solutions (products or processes);</p>
<p>08.Community engagement and Engineering: Ability to appreciate human behavior, culture, interaction and organization through studies in the humanities and social sciences. Knowledge of the impact of computing solutions in a local and global context.</p>
<p>09.Teamwork: Ability to function effectively as a member or leader of a technical team to accomplish common goals;</p>
<p>10.Communication: Ability to apply written and oral communication in both technical and non-technical environments; an ability to communicate with a range of audience; and an ability to identify and use appropriate available technical literature;</p>
<p>11.Self-directed: Recognition of the need for and ability to engage in self-directed continuing professional development; be prepared to enter a top-ranked graduate program in Computer Science and Engineering.</p>
<p>12.Ethics: An understanding of and a commitment to address professional, ethical, legal, security, social issues and responsibilities including a respect for diversity;</p>
<p>13.Process Management: A commitment to quality, timeliness, and continuous improvement.</p>

                                           
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
  
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECTION END-->
{% endblock %}