{% extends "layout.html" %}
{% block body %}
    <!--END HEADER SECTION-->

    <!--SECTION START-->
    <section>
        <div class="container com-sp">
            <div class="row">
                <div class="cor about-sp">
                    <div class="ed-about-tit">
                        <div class="con-title">
                        </div>
                        <div>
                            <div class="ho-event pg-eve-main pg-blog">
                                <ul>
                                    <li>
                                        <img src="{{ url_for('static', filename='images/ed.jpg') }}" style="width:100px;height:100px;" alt="">

                                        <div class="pg-eve-desc pg-blog-desc">

                                                <p><h5><i>It is my great pleasure to welcome the students interested to pursue their B.Sc Engineering course in TMSS Engineering College (TEC). TMSS Engineering College has well qualified faculty members having vast teaching experience, knowledge and strong academic background. It is the highest seat of learning and a place for freethinking. It is a place for research, creation of knowledge and dissemination of the same. It has also created modern facilities for producing competent Engineering professionals needed to response to the requirements of the society and the nation. TMSS Engineering College is dedicated for excellence in technical education and research in line with its vision.
                                                    TMSS grass root founders who are less educated and lacks technicality possess kin interest towards education, particularly in life oriented education. We really feel proud to mention here that starting with a limited resource but unlimited spirit TMSS has established a unique center i.e. TMSS Engineering College for Quality Engineering education in the country.
<br>
                                                    We want to build up TMSS Engineering College as an ideal institute where students will learn and work with moral values, dignity and set standard at the present and for future.
                                            <br>
                                                    Students are perusing their higher study and research in the field of engineering and technology with well equipped modern and updated laboratory, Library facilities. The aim of TEC is to take care the graduates who will be sufficient/able to contribute to the society, industry, national and international competent professionals with reliability and honestly. TEC is important to meet the Challenge of globalization, emerging innovation and knowledge based economy. The graduates of TEC are encouraged to give constant effort on learning to sustain their adaptability and employability. I, On behalf of TMSS, welcome the students who have made their best choice by choosing TMSS Engineering College to pursue Engineering studies. I desire that they will make the best use of the excellent programs and facilities created for providing them the excellent Engineering education.
                                            <br>
                                                    We would like to give thanks to all of them who have contributed in favour of the TEC. Specially I thank upcoming student and guardian of TEC.
                                            <br>
                                                Finally, we do express our appreciation and thanks to all officials of Rajshahi University and all Government, Non Government, well wishers.</i></h5></p>
                                                <p><h5><big>Prof. Dr. Hosne-Ara Begum</big></h5></p>
                                                <p><h5><big>Ashoka Fellow & PHF</big></h5></p>
                                                <p><h5> <big>Chairman</big></h5></p>
                                                <p><h5><big>TMSS Engineering College (TEC)</big></h5></p>

                                        </div>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECTION END-->

{% endblock %}
