{% extends "layout.html" %}
{% block body %}
<!--END HEADER SECTION-->

<!--SECTION START-->
<section>
    <div class="container com-sp">
        <div class="row">
            <div class="cor about-sp">
                <div class="ed-about-tit">
                    <div class="con-title">
                    </div>
                    <div>
                        <div class="ho-event pg-eve-main pg-blog">
                            <ul>
                                <h1>
                                    <big>GOVERNING BODY</big>
                                </h1>
                                <br>
                                <p>
                                    (According to the Rajshahi University Affiliated College Ordinance -2015)
                                    Affiliated College Name: TMSS Engineering College.
                                </p>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">Sl No</th>
                                        <th scope="col">Name of the Member</th>
                                        <th scope="col">Category</th>
                                        <th scope="col">Designation</th>
                                        <th scope="col">Picture</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Prof. Dr. Hosne-Ara Begum Executive Director, TMSS</td>
                                        <td>Chairman: The chairman of the entrepreneurial organization or his nominee</td>
                                        <td>Chairman</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>
                                            Dr. Md. Motiur Rahman,Deputy Executive Director-2, TMSS</td>
                                        <td>Founding Member / Donor Member / Management Council Member</td>
                                        <td>Member</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Md. Zakir HossainDirector (Program), TMSS</td>
                                        <td>Founding Member / Donor Member / Management Council Member</td>
                                        <td>Member</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Foyzoon NaharDirector( HRD&T) TMSS</td>
                                        <td>Founding Member / Donor Member / Management Council Member</td>
                                        <td>Member</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">4</th>
                                        <td>Prof. Dr Abu Bokkar Md Ismail Department of Applied Physics and Electronic Engineering Rajshahi University</td>
                                        <td>University representative: Selected by VC, Professor/ Associate Professor/ Faculty Dean rank in order, 31 ( ka, Kha)</td>
                                        <td>Member</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">5</th>
                                        <td>Prof. dr. A K M Akhter Hossen
                                            Department of Computer Science and Engineering
                                            Rajshahi University</td>
                                        <td>University representative: selected by VC, Professor/Associate Professor/Faculty Dean rank in order, 31 (ka, Kha)</td>
                                        <td>Member</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">6</th>
                                        <td>Md. Washiqul Islam
                                            Assistant Professor( CSE)TMSS  Engineering College</td>
                                        <td>Teacher’s representative: (Elected by college teachers)</td>
                                        <td>Member</td>>
                                    </tr>
                                    <tr>
                                        <th scope="row">7</th>
                                        <td>Rakesh Swarup Mandal
                                            Assistant Professor( EEE)TMSS  Engineering College</td>
                                        <td>Teacher’s representative:       (Elected by college teachers)</td>
                                        <td>Member</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">8</th>
                                        <td>Dr. Md. Azizur Rahman
                                            Nishindra, Bogura</td>
                                        <td>Guardian representative: (Selected by guardian  hold at least Bachelor Degree)</td>
                                        <td>Member</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">9</th>
                                        <td>Md. Shohidul Islam
                                            Sheujgari, Bogura</td>
                                        <td>Guardian representative: (Selected by guardian  hold at least Bachelor Degree)</td>
                                        <td>Member</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">10</th>
                                        <td>Md. Khorshed Alam
                                            Director (ES & Education), TMSS</td>
                                        <td>Education well-wisher/Specialist person: (Elected by Chairman holding at least Bachelor Degree)</td>
                                        <td>Member</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">11</th>
                                        <td>Aysha Begum, Treasurer, TMSS</td>
                                        <td>Education well-wisher/Specialist person: (Elected by Chairman holding at least Bachelor Degree)</td>
                                        <td>Member</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">12</th>
                                        <td>Sabit Hasan,
                                            JD (Engineering),TMSS</td>
                                        <td>Specialist Member:                 (Selected by Chairman, Specialist Doctor, Engineer, lawyer etc.)</td>
                                        <td>Member</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">13</th>
                                        <td>Prof. Md. Habibor Rahman
                                            (Principal)TMSS  Engineering College</td>
                                        <td>Principal: Member Secretary</td>
                                        <td>Member Secretary</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
