{% extends "layout.html" %}
{% block body %}
<!--END HEADER SECTION-->

<!--SECTION START-->
<section>
    <div class="container com-sp">
        <div class="row">
            <div class="cor about-sp">
                <div class="ed-about-tit">
                    <div class="con-title">
                    </div>
                    <div>
                        <div class="ho-event pg-eve-main pg-blog">
                            <ul>

                                <table class="table table-striped">
                                    <thead>

                                    <tr>

                                        <th scope="col">SL. No.</th>
                                        <th scope="col">Department</th>
                                        <th scope="col"></td>
                                        <th scope="col">Book</th>

                                    </thead>
                                    </tr>
                                    <tr>
                                        <thead>
                                        <th scope="col"></td>
                                        <th scope="col">Name</td>
                                        <th scope="col">Code</td>
                                        <th scope="col">No of Title</td>
                                        <th scope="col">Quantity</td>
                                        </thead>
                                    </tr>
                                    <tr>
                                        <thead>
                                        <td>01.</td>
                                        <td>Computer Science & Engineering - CSE</td>
                                        <td>20</td>
                                        <td>125</td>
                                        <td>1136</td>
                                        </thead>
                                    </tr>
                                    <tr>
                                        <thead>
                                        <td>02.</td>
                                        <td>Electrical & Electronics Engineering – EEE</td>
                                        <td>22</td>
                                        <td>89</td>
                                        <td>740</td>
                                        </thead>
                                    </tr>
                                    <tr>
                                        <thead>
                                        <td>03.</td>
                                        <td>Textile Engineering - TE</td>
                                        <td>23</td>
                                        <td>61</td>
                                        <td>965</td>
                                        </thead>
                                    </tr>
                                    <tr>
                                        <thead>
                                        <td>04.</td>
                                        <td>Civil Engineering - CE</td>
                                        <td>24</td>
                                        <td>57</td>
                                        <td>712</td>
                                        </thead>
                                    </tr>
                                    <tr>
                                        <thead>
                                        <td>05.</td>
                                        <td>Mechanical Engineering ME</td>
                                        <td>25</td>
                                        <td>14</td>
                                        <td>157</td>
                                        </thead>
                                    </tr>
                                    <tr>
                                        <thead>
                                        <td>06.</td>
                                        <td>Natural Science & Humanities - NSH</td>
                                        <td>-</td>
                                        <td>150</td>
                                        <td>1623</td>
                                        </thead>
                                    </tr>
                                    <tr>
                                        <thead>
                                        <td colspan="3">Total</td>

                                        <td>496</td>
                                        <td>5253</td>
                                        </thead>
                                    </tr>
                                </table>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--SECTION END-->

{% endblock %}
