{% extends "layout.html" %}
{% block body %}
<!--END HEADER SECTION-->

<!--SECTION START-->
<section>
    <div class="container com-sp">
        <div class="row">
            <div class="cor about-sp">
                <div class="ed-about-tit">
                    <div class="con-title">
                    </div>
                    <div>
                        <div class="ho-event pg-eve-main pg-blog">
                            <ul>
                                <li>
                                    <img src="{{ url_for('static', filename='images/principal.jpg') }}" style="width:100px;height:100px;" alt="">

                                    <div class="pg-eve-desc pg-blog-desc">

                                        <p><h5><i>It is a great pleasure for me to write a few words about TMSS Engineering College (TEC), Bogura. We believe that Education is the golden cultivation and manifestation of the individual talent to lead a successful social life. Students who have chose engineering as their carrier with fulfill their inner wish. I would like to welcome the upcoming students to TEC and wish them success for their study leading to B.Sc degree as well.
                                        <br>
                                        TEC is committed to provide students with every possible opportunity to develop their talent and passion for Math and Science so that they are prepared to change the world. We have great expectation of our students because society has great expectations of its scientific and technical leaders who improve the quality of our lives through ground breaking discoveries, inventions, technology innovations, medical advances, company growth and job creation. In this era of rapid technological changes in the global arena, we determined for attainment of excellence is a continuous process.
                                        <br>
                                        Considering the situation, TMSS Engineering College has been established to meet the aspirations of the students for quality and standard Engineering education through the philanthropic efforts and generous support of promoters of TMSS. It is quite justified to foresee a total commitment from the faculty and staff of this Engineering College in providing quality education and maintaining the highest professional standards in every discipline of engineering education. All examinations are taken under the direct supervision of professor & other teachers of respective departments.
                                        <br>
                                        Now the college has exclusive hostel accommodation for boys and girls student, finest faculty members with extensive teaching experience and scholastic knowledge and aptitude, enriched library and laboratory facilities, enriched IT center for extensive research, etc.
                                        <br>
                                        Various facilities have also been created for the development of co-curricular activities for the student’s entertainment and also to development of their latent potentialities. Based on competency and success of TMSS Engineering College (TEC) in future B.Sc in Mechanical Engineering, B.Sc in information & communication Engineering etc. life oriented courses will be gradually be started.
                                        <br>
                                        With the quality academic program conducted by TMSS Engineering College (TEC), we understand that TEC could be an ideal Engineering college of the country, especially in North Bengal and hence, we hope that students will choose TEC as their best option for pursuing B.Sc in Engineering study and will make the best use of the facilities and opportunities being provided by TEC to the students getting admission in TMSS Engineering College.
                                        <br>
                                        I welcome all the parents & guardians of interested students to choose TMSS Engineering College for higher education of their son & daughters.</i></h5></p>
                                        <p><h5><big>Prof. Md. Habibur Rahman</big></h5></p>
                                        <p><h5><big>Principal</big></h5></p>
                                        <p><h5> <big>TMSS Engineering College (TEC)</big></h5></p>


                                    </div>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--SECTION END-->

{% endblock %}
