
{% extends "layout.html" %}
{% block body %}
	<section>
        <div class="head-2">
            <div class="container">
                <div class="head-2-inn head-2-inn-padd-top">
                    <h1>TEXTILE ENGINEERING DEPARTMENT</h1>
                    <p>TMSS Engineering College gladly welcomes students to the department of Textile Engineering. The historical fact is that textile industry led the industrialization of the economically strong and developed as well as developing countries of the world today. Bangladesh has gained advancement in the competition to capture a share of the global textile and apparel manufacturing industry during its migration from the developed countries. Today the textile and apparel industry is the most important industrial sector in Bangladesh
Degree offered with duration: Four years program, B.Sc. (Textile Engineering), two semesters per year. Total 8 semesters.</p>
                </div>
            </div>
        </div>
    </section>

    <!--SECTION START-->
    <section>
        <div class="container com-sp">
            <div class="row">
                <div class="cor about-sp">
                    <div class="ed-about-tit">
                        <div>
                            <div class="ho-event pg-eve-main pg-blog">
                                <ul>
									 <li>
                                        <div class="pg-eve-desc pg-blog-desc">
                                            <a href="event-register.html">
                                                <h4>Textile Engineering Department</h4>
                                            </a>
											<div class="share-btn blog-share-btn">
												<ul>
													<li><a href="#"><i class="fa fa-facebook fb1"></i> Share On Facebook</a>
													</li>
													<li><a href="#"><i class="fa fa-twitter tw1"></i> Share On Twitter</a>
													</li>
													<li><a href="#"><i class="fa fa-google-plus gp1"></i> Share On Google Plus</a>
													</li>
												</ul>
											</div>
											<img src="{{ url_for('static', filename='images/course/txtile.jpg') }}" alt="">
                                            <h1>WHY CHOOSE TEXTILE ENGINEERING?</h1>
                                            <p><b>Textile is the second basic requirement among the five requirements of human. To fulfill this large demand of the world populations with sustainable & hygienic textile products, textile and apparel industry in Bangladesh has been placing an increasing demand of smart, highly skilled manpower with technological and managerial background. Besides, there are huge demands for textile engineer in other field of social and economic activities.</b></p>
                                            <h1>JOB PLACEMENT FACILITY:</h1>
                                            <p><b>After completing four year B.Sc. in Textile Engineering program, a textile graduate can start his career with the following relevant areas:</b></p>
                                            <p><b>&#10004About 5500 garments industry in Bangladesh.</b></p>
                                            <p>&#10004About 750 spinning, weaving and Knitting, Dyeing and Finishing mills in Bangladesh..</p>
                                            <p>&#10004Bangladesh Loom Board, Sericulture Institute, Various govt. and Non-govt. textile institutions (Universities, Colleges, diploma Institutes) and BCS Examination.</p>
                                            <h1>WHY TMSS ENGINEERING COLLEGE TO BECOME A TEXTILE ENGINEER?</h1>
                                            <p><b>TEC is a unique to meet the demand of technological base textile industry in having social responsibility as a core goal and TEC invite students to share worlds changing ambitions, with courses and activities that help students to develop as a socially responsible, global citizen. TEC has –</b></p>
                                            <p>&#10004Enriched lab facilities of initial investment about Tk. 1.47 cores which is very unique.</p>
                                            <p>&#10004A vast scope for researching and developing hygienic, eco-friendly textile products.</p>
                                            <p>&#10004A group of highly educated, technically sound, kind hearted, innovative faculty members.</p>
                                            <p><b>&#10004Close and collaborative relationships with the textile and apparel industries and various research institutes for executing academic programs and imparting practical and quality education to the students.</b></p>
                                            <h1>LAB FACILITIES:</h1>
                                            <h3>Simplex machine</h3>
                                            <br>
                                            <br>
                                            <br>
                                            <p><b>The Department of Textile Engineering is enriched with textile testing, Yarn Manufacturing, fabric manufacturing, wet processing and Apparel Manufacturing laboratories. Moreover Seminars and mill visits are organized on regular basis to update the students and the faculty members with latest technological developments.</b></p>

                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
          
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECTION END-->
{% endblock %}